body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.caja {
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(2, 11, 29);
    background-color: rgb(235, 46, 46);
    box-shadow: 15px 15px 25px rgb(161, 22, 22);
    border-radius: 25px;
}
#pantalla {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 18px;
}
button {
    width: 50px;
    height: 40px;
    margin: 3px;
}